@font-face {
    font-family: Dosis-ExtraBold;
    src: url(../fonts/Dosis-ExtraBold.woff);
}

body {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}


#botaologin {
    font-family: 'Lato', sans-serif;
    color: white;
    display: flex;
    position: absolute;
    top: 45px;
    padding-left: 8px;
}
#minhasreceitas{
    left: 88%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    display: flex;
    top: -0.5em;
}

#botaosair {
    width: 0%;
    color: rgb(255, 230, 0);
    font-size: 1.1em;
    font-weight: 700;
    left: 4.5em;
    top: 0.7em;
    position: absolute;
    display: flex;
}
#botaocalc{
    width: 85px;
    height: 35px;
    margin-top: 3px;
    border-radius: 8px;
    padding: 5px;
    border-style: hidden;
    color: #ff6a28;
}
#botaominhasreceitas {
    width: 0%;
    color: #f0f0f0;
    font-size: 1.1em;
    font-weight: 700;
    position: absolute;
    left: 88%;
}

h1 {
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 150%;
}

.tipo-rec,
.tipo-rec2 {
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 150%;
}

.header {
    background-color: #ff6a28;
    height: 70px;
    padding-top: 15px;
    display: inherit;
}

.info {
    padding: 10px 20px;
    font-family: Dosis-Extrabold;
}

#inputsearch {
    width: 220px;
    border-radius: 10px;
    margin-left: 66%;
    margin-top: -55px;
}

#remover {
    width: 0%;
    margin-top: -3%;
    margin-left: 92%;
}

#login {
    width: 50px;
    margin-left: -10px;
    margin-top: -24px;
}

label {
    font-size: 0.8em;
}

#logo1 {
    width: 80px;
    margin-left: 15px;
    margin-top: -90px;
    display: flex;
}



#central {
    margin-top: -4px;
    text-align: center;
    font-weight: 700;
    font-size: 33px;
    color: #f0f0f0;
}

.cont1,.cont2,#minhas-receitas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}
.card h3 {
    margin-top: 8px;
}

p {
    text-align: center;
}
.card{
    margin: 10px; 
    text-align: center;
    box-sizing: border-box;
    width: 350px;
    height: 345px;
    border-radius: 10px;
    box-shadow: 0 0 30px #a2a2a2;
    background-color: #f7f7f7;
    border: hidden;    
    transition: transform 0.3s ease-in-out;   
    
}
.card:hover {
    transform: translateY(-10px);
}
.capa {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 350px;
    height: 219px;
}
.capa-mr{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 350px;
    height: 219px;
    margin-top: -16.7%;
    transition: transform 0.3s ease-in-out;
}
.capa-mr:hover {
    transform: translateY(-10px);
}
button{
    margin: 10px; 
    text-align: center;
    box-sizing: border-box;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 30px #a2a2a2;
    background-color: #f7f7f7;
    border: hidden;
    transition: transform 0.3s ease-in-out;   
}
button:hover {
    transform: translateY(-10px);
}
.nome-receita {
    color: #e57c3a;
    font-size: 1.4em;
    font-family: Dosis-Extrabold;
    text-align: center;
    margin-top: 2%;
    margin-bottom: -2px;
}

.desc-receita {
    text-align: justify;
    color: #686868;
    line-height: 25px;
    font-size: 1.0em;
    padding-top: -20%;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 13px;
    margin-bottom: -5px;
}

.relogio {
    width: 20px;
    height: 15px;
}

label {
    color: black;
    padding: 5px;
    font-size: 0.9em;
}

#labelcalc {
    color: white;
    padding: 5px;
    font-size: 1.0em;
}


  
@media only screen and (max-width: 768px) {
 
    .slider,
    .manual,
    .navigation {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .calculadora,
    .fixed-element {
        width: 100%; /* Faz ambos ocuparem 100% da largura na tela pequena */
        display: block; /* Certifique-se de que eles são exibidos como blocos */
        margin-left: 0; /* Remove a margem à esquerda */
    }
}