body {
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    background-color: #f0f0f0;
    font-family: 'Lato', sans-serif;
}

.botao {
    margin-left: 225px;
    text-decoration: none;
    background-color: #ff6a28;
    color: white;
    padding: 12px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 30px;
}

.botao:hover {
    background-color: #f95c18;
}

#CREATEBOTAO {
    margin-top: 3px;
    border-radius: 8px;
    padding: 5px;
    border-style: hidden;
}

#data-receita-imagem {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
}

#data-receita-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.calculadora {
    text-align: center;
    width: 100%;
    background-color: #ff6a28;
    padding: 15px;
    border-radius: 8px;
    color: #f0f0f0;
    display: inline-block;
}

.fixed-element {
    width: 23%;
    background-color: #f0f0f0;
    padding: 0px;
    margin-left: 2%;
    margin-bottom: 18%;
    display: flex;
    margin-top: -952px;
}


.compartilhar {
    margin-top: -17px;
    padding-bottom: 8px;
    right: 20%;
    position: absolute;
}

#data-receita-modoPreparo,
#data-receita-ingredientes {
    width: 500px;
    margin: auto;
    padding: 33px;
    background-color: white;
    margin: 15px auto;
    border-radius: 5px;
    font-weight: 300;
}

dl,
ol,
ul {
    margin-left: -28px;
    margin-top: 0;
    margin-bottom: 1rem;
}

#compartilhe {
    font-family: 'Lato', sans-serif;
    margin-top: 1px;
    margin-left: -105%;
    color: #f95c18;
    
}

#colheres {
    border-radius: 8px;
    padding: 5px;
    border-style: hidden;
    margin-top: 3px;
}

footer {
    background-color: #ff6a28;
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 36px;

}

#footernames {
    margin-top: -1.8%;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #ff6a28;
    margin-bottom: 20px;
}

li {
    list-style-position: inside;
    line-height: 35px;
}

.link-footer {
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.titulo-receita {
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
}

ul {
    margin-bottom: 35px;
}

#ulcalc {
    margin-bottom: 15px;
}

#xicaras {
    border-radius: 8px;
    padding: 4px;
    border-style: hidden;
    margin-top: 3px;
}

#xicaras2 {
    border-radius: 8px;
    padding: 4px;
    border-style: hidden;
    margin-top: 3px;
}

@media screen and (max-width: 600px) {
    .calculadora,
    .fixed-element {
        width: 100%; /* Faz ambos ocuparem 100% da largura na tela pequena */
        display: block; /* Certifique-se de que eles são exibidos como blocos */
        margin-left: 0; /* Remove a margem à esquerda */
    }
}
