
@font-face {
    font-family: Dosis-ExtraBold;
    src: url(../fonts/Dosis-ExtraBold.woff);
}
body{
    background-color: #ececec;
    
}
#botaosearch{
    width: 20px;
    height: 15px;
    background-size: cover;
    background-position: center;
    padding-left: 2px;
}
#botaologin{
    font-family: 'Lato', sans-serif;
    margin-top: -12px;
    color: white;
}
h1{
    text-align: left;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 150%;
}
.header {
    background-color: #ff6a28;
    height: 55px;
    padding-top: 15px;
    display:inherit;
}

.info{
    padding: 10px 20px;
    font-family: Dosis-Extrabold;
}
#inputsearch{
    width: 220px;
    border-radius: 10px;
    margin-left: -260px;
    margin-top: -47px;
}

.navheader{
    width: 0%;
    margin-top: -50px;
    margin-left: 90%;
}

#login{
    width: 50px;
    margin-left: -10px;
    margin-top: -24px;
}
label{
    font-size: 0.8em;
}
#logo1{
    width: 80px;
    margin-left: 15px;
    margin-top: -57px;
}
#search{
    padding: 8px;
    border-radius: 7px;
    border-style: hidden;
}
#central{
    margin-top: -4px;
    text-align: center;
    font-weight: 700;
    font-size: 33px;
    color:#f0f0f0;
}
.cont{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 10px; 
    text-align: center;
    box-sizing: border-box;
    width: 350px;
    height: 390px;
    border-radius: 10px;
    box-shadow: 0 0 30px #a2a2a2;
    background-color: #f7f7f7;
}

.capa{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 350px;
    height: 219px;
}

.card h3{
    margin-top: 8px;
    
}
p{
    text-align: center;
}

.nome-receita {
    color: #e57c3a;
    font-size: 1.6em;
    font-family: Dosis-Extrabold;
    text-align: center;
    padding: 6px;
}
.desc-receita {
    text-align: justify;
    color: #686868;
    line-height: 25px;
    font-size: 1.0em;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 13px;
    margin-bottom: -5px;
}
.relogio { 
    
    width: 20px;
    height: 15px;
}
label {
    
    color: black;
    padding: 5px;
    font-size: 0.9em;
}

.slider{
    margin: 0 auto;
    width: 70%;
    height: 30%;
    overflow:hidden;
}

.slides{
    width: 400%;
    height: 300px;
    display: flex;
}
.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 4s;
}

.slide img{
    width: 700px;
}

.manual{
    position: absolute;
    width: 70%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0 ;
}
#radio2:checked ~ .first{
    margin-left: -26.8% ;
}
#radio3:checked ~ .first{
    margin-left: -51.7% ;
}
#radio4:checked ~ .first{
    margin-left: -77% ;
}

.navigation div{
    border: 2px solid #e57c3a;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation{
    position: absolute;
    width: 70%;
    margin-top: 260px;
    display: flex;
    justify-content: center;
}

.navigation div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation .bt1{
    background-color: #fff;
}
#radio2:checked ~ .navigation .bt2{
    background-color: #fff;
}
#radio3:checked ~ .navigation .bt3{
    background-color: #fff;
}
#radio4:checked ~ .navigation .bt4{
    background-color: #fff;
}